<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>OneLine</title>
    <link rel="stylesheet" type="text/css" href="css/message-view.css">
  </head>

  <body>
    <div id="app">
      <h1>OneLine</h1>
      <section id="message-window" class="message-window">
        <div class="message-wrapper"
             v-for="message in messages"
             v-bind:class="{'message-wrapper-sent': message.sender === 'you',
                            'message-wrapper-received': message.sender === 'system'}">
          <div class="message"
               v-bind:class="{'message-sent': message.sender === 'you',
                              'message-received': message.sender === 'system'}">
            {{ message.message }}
          </div>
        </div>
      </section>
      <section class="message-input">
        <input v-model="newMessage"
               v-on:keyup.enter="sendMessage(newMessage)" />
        <button v-on:click="sendMessage(newMessage)">Send</button>
      </section>
    </div>
    <script src="js/vue.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
