html {
  font-family: sans-serif;
}

body {
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
  position: relative;
}

.subtle {
  color: #636c72;
}

hr {
  padding: 0;
  margin: 1rem 0;
}

.message-window {
  height: 500px;
  overflow-y: auto;
}

.message-input {
  bottom: 0;
  width: 100%;
}

.message {
  max-width: 300px;
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 15px;
  margin-bottom: 0.5rem;
}

.message-wrapper {
  width: 100%;
}
.message-wrapper-received {
  text-align: left;
}
.message-wrapper-sent {
  text-align: right;
}
.message-sent {
  background-color: #3ba4ff;
  color: #e7f3ff;
  text-align: left;
}
.message-received {
  background-color: #eff0f4;
}

input {
  width: 100%;
  font-size: 1.5rem;
  padding: 0.25rem;
}
